// Place all the styles related to the kittens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

input, select {
  width: 80%;
  &[type="submit"] {
    width: 30%;
    margin: auto;
  }
}


